:root {
--main-bg-color: rgba(150,200,150,0.3);
--main-bg-color-light: rgba(200,255,200,0.7);
--main-bg-color-dark: rgba(100,200,100,0.7);
--key-color-shadow: rgba(50,100,50,0.7);
--time-color: rgba(255,255,255,1);
--statusbar-center-button-color-click: rgba(100,200,100,0.5);
--statusbar-bg-color: rgba(255,255,255,0);
}
.wallpaper{
    transform: scale(1.1);  /*缩放防止模糊时候的白边*/
}

.fps_label{
    font-size:30px;
    margin:20px 10px;
    color:#db3444;
}

/* 页面指示器 */
.dot {
    width = 9px;
    height = 9px;
    /*margin:5px 5px 5px 5px;*/

    border-radius: 50px;
    background: gray;
    border: none;
    padding: 0;
    transition: background 1s;
}

.dot:hover{
    border-radius: 5px;
    background: red;
    border: none;
    padding: 0;
}

.active-dot {
    transiton-property:transfrom;
    border-radius: 5px;
    background: white;
    border: none;
    padding: 0;
}

.notify_clear {
    border-radius: 60px;
    min-width: 60px;
    min-height: 60px;
    background-color: var(--statusbar-center-button-color-click,white);
    border: none;
}

.statusbar{

    background-color: var(--statusbar-bg-color,white);
}

.desktop-dock {
    /*background-color: var(--main-bg-color-light, red);*/
    /*backdrop_filter: blur(10px);*/
    border-radius: 30px;
    margin :10px 10px 10px 10px;
}

/*.desktop-dock::before{
    filter: blur(10px);
}*/

.app-drawer {
    background-color: var(--main-bg-color,rgba(0,0,0,0));
}

/*button:hover {
    border-radius: 30px; /* 悬停时增大圆角
    outline: none;
}*/

.light-style{
    color:white;
    font-size:16px;
}

.dark-style{
    color:rgba(0,0,0,0.8);
    font-size:16px;
}

.desktop-folder{
    background-color:rgba(120,200,120,0.6);
    border-radius: 15px;
}

label.time{
    font-size: 50px;
}

label.date{
    font-size: 18px;
}

listbox {
    background: rgba(0, 0, 0, 0);
    border-radius: 30px;
}


list.activatable {
  background: rgba(255,255,255,1);

}

.control-bar {
  min-width: 200px;
}

/*控制中心的按钮*/



/*控制中心的滑动条*/

.ling-scale trough {
    /*min-width: 50px;  /* 轨道宽度 */
    /*border-height:50px;*/
    border-color: rgba(0,0,0,0);
    border-radius: 50px;
    display: flex;
    border-color: rgba(0,0,0,0);
}

.ling-scale fill{
    background-color:rgba(255,0,0,1);
}

.ling-scale slider{
    min-height: 10px;
    /*min-width:  70px;*/
    border-radius: 10px;
    border:5px;
    border-color:rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    background-color: rgba(255,255,255,0);
}

.notify_list_box{
    background-color:rgba(0,0,0,0);
}

.notify_list_box row{
    background-color:rgba(0,0,0,0);
}

.notify_list_box button{
    min-width:20px;
    min-height:20px;
    margin: 5px;
    border-radius:30px;
    border-style:none;
    background-color: rgba(255, 255, 255, 0.5);
    opacity:0.5;
}

.notify_item{
    background-color: rgba(0,0,0,0);
    border-radius: 50px;
    min-height:60px;
    border: 0;
    outline: 0;
    margin :5px 0px 5px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity:1;
}

.notify_item_box{
    /*background-color: rgba(255,0,0,0);*/
    border-style: none;
}

.notify_item_text{
    font-size:16px;
}

/*notify_item{
    background-color: rgba(0,0,0,0);
    border-radius: 50px;
    border: 0;
    outline: 0;
    margin :10px 0;
    background-color: rgba(100, 100, 100, 1);
    opacity: 0.5;
}*/

.control-item {
    border-radius: 50px;
    background-color:white;
    border-style:none;
    outline: none;
    opacity:0.5;
    /*background-color:rgba(200,200,200,0.5);*/
}



.control-button{
    border-radius: 50px;
    margin: 10px;
    border-style: none;
    opacity:0.5;
    background-color:rgba(101,189,235,1);
}

.toggle-button{
    border-radius: 50px;
    border-style: none;
    opacity:0.5;
    background-color:rgba(101,189,235,1);
}

.control-label{
    font-size: 15px;
}

.grid-folder-content-box{
    background-color:white;
    border-radius: 35px;
}

.grid-folder-content{
    margin: 35px 35px 35px 35px;
}

.grid-folder-box{
    /*filter:blur(10px);*/
    background-color:rgba(0,0,0,0.3);
}

.grid-folder-title{
    font-size: 30px;
}

fixed { min-width: 100%; min-height: 100%; }

.nolabel{
    /*color:white;*/
    background-color:rgba(255,255,255,0.3);
}

.keyboard{
    background: var(--main-bg-color-light,white);
    border: 0px;
    border-radius: 100px;
    transition:border-radius 0.1s,min-width 1s,min-height 1s , transform 0.3s;
    font-size: 50px;
}

.keyboard:hover{
    background: var(--main-bg-color-dark,white);
    border-radius: 30px;
    min-width: 10px;
    min-height: 10px;
    /*animation: myfirst 5s;*/
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 0.1);
    transform: scale(1.05);/* rotate(180deg);*/
    box-shadow: 3px 3px 3px var(--key-color-shadow,black);/*, 3px 3px 3px rgba(160,30,30,1);*/
}

/*@keyframes myfirst
{
    0%   {background: red; }
    25%  {background: yellow; }
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red; }
}*/

.time_viewer{
    font-size:100px;
    font-weight: bold;
    font-family: "Times New Roman", Georgia, serif;
    color:var(--time-color,black);
    text-shadow: 3px 3px 3px var(--key-color-shadow,black);
}
/*
.layer_back {
    /*background-image: url('file:///home/gzx/Pictures/wallpaper3.png');*/
    /*background-color: rgba(255, 200, 200, 0.80);
    background-size: cover;
    /*filter: blur(10px);
}*/

.task_switcher_bar{
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
    font-size:5px;
    width:10px;
    transition: background-color 0.3s ease,transform 0.3s;
}

.task_switcher_bar:hover{
    background-color: rgba(0,0,0,0.7);
    transform: scaleX(0.9) /*scaleY(0.95)*/;
}

.wlan_list_item{
    font-size:30px;
}

.wlan_list{
    background-color: rgba(255,200,200,0.5);
    border-radius: 30px;
    margin:10px;
}

.wlan_list_box{
    background-color: rgba(255,255,255,1);
    border-radius: 30px;
    font-size:50px;
}

.desktop-item-folder-label{
    font-size:30px;
}

.cl_window{
    background-color: rgba(255,255,255,1);
}

.desktop_item_frame_show{
    border-radius: 20px;
    border-width:10px;
    border-color: rgba(0,0,0,1);
    /*opacity:0.5;*/
    background-color:rgba(0,0,0,1);
}


.desktop_item_frame_hide{
    border-radius: 20px;
    border-width:10px;
    border-color: rgba(255,255,255,1);
    opacity:0;
    background-color:rgba(0,0,0,1);
}


.win_detail_hide{
    /*逐步消失*/
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}


.win_detail_show{
    /*逐步浮现*/
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.remove-button{
    border-radius: 50px;
    border-style: none;
    background:rgba(255,255,255,0.8);
    transform: scale(1);
    transition: background 0.2s transform 0.2s;
}

.remove-button:hover{
    background:rgba(255,255,255,0.5);
    transform: scale(0.95);
    transition: background 0.2s transform 0.2s;
}
